@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
margin: 0;
padding:0;
box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color:white;
    background-color: hsla(226, 43%, 14%, 1);

  }

code {
  font-family: 'Rubik', sans-serif;
  color: white;
}
